In [34]:
path = getwd()
path = substr(path, 1, nchar(path)-9)
setwd(paste0(path, "data"))

In [35]:
getwd()

[1] "/Users/chen.liang/Desktop/变量/splc_analysis/data"

In [36]:
Nodes_Data = readRDS(file = "Temp/Nodes_Data.rds")
Edges_Data = readRDS(file = "Temp/Edges_Data.rds")

Nodes_Data[0:1,]
Edges_Data[0:1,]

nrow(Nodes_Data)

  id       country type_label                     size
1 Flex Ltd US      Technology Hardware & Equipmen 3.5

  to                    from     weight
1 Applied Materials Inc Flex Ltd 1

[1] 463

In [37]:
table(Nodes_Data$type_label)

                      #N/A N/A       Automobiles & Components
                            17                             34
                 Capital Goods Commercial & Professional Serv
                            52                              1
   Consumer Durables & Apparel         Diversified Financials
                            11                              1
                        Energy       Food & Staples Retailing
                            10                              8
      Food, Beverage & Tobacco Health Care Equipment & Servic
                             5                              1
 Household & Personal Products                      Insurance
                             5                              1
                     Materials          Media & Entertainment
                            62                              6
Pharmaceuticals, Biotechnology                    Real Estate
                             2                              2
                     Retailing Semiconductors & Semiconductor
                            17                             86
           Software & Services Technology Hardware & Equipmen
                             9                            105
    Telecommunication Services                 Transportation
                            17                              9
                     Utilities
                             2

## For Phones

In [38]:
type0=c("#N/A N/A")
type1=c("Materials","Energy","Utilities")
type2=c("Technology Hardware & Equipmen","Semiconductors & Semiconductor",
        "Capital Goods")
type3=c("Software & Services","Telecommunication Services",
        "Consumer Durables & Apparel")
type4=c("Automobiles & Components","Transportation",
        "Commercial & Professional Serv","Household & Personal Products",
        "Health Care Equipment & Servic","Consumer Services",
        "Retailing",'Pharmaceuticals, Biotechnology')
type5=c("Insurance","Media & Entertainment",
        "Food & Staples Retailing",
        "Food, Beverage & Tobacco","Real Estate","Banks",
        "Diversified Financials")

# Factorize

In [39]:
Nodes_Data$Type_color = -1
for(i in 1:nrow(Nodes_Data)){
  if(Nodes_Data$type_label[i] %in% type0){
    Nodes_Data$Type_color[i]=0
  }
  if(Nodes_Data$type_label[i] %in% type1){
    Nodes_Data$Type_color[i]=1
  }
  if(Nodes_Data$type_label[i] %in% type2){
    Nodes_Data$Type_color[i]=2
  }
  if(Nodes_Data$type_label[i] %in% type3){
    Nodes_Data$Type_color[i]=3
  }
  if(Nodes_Data$type_label[i] %in% type4){
    Nodes_Data$Type_color[i]=4
  }
  if(Nodes_Data$type_label[i] %in% type5){
    Nodes_Data$Type_color[i]=5
  }
}
table(Nodes_Data$Type_color)
Nodes_Data$type_label[Nodes_Data$Type_color == -1]

  0   1   2   3   4   5
 17  74 243  37  69  23

character(0)

In [40]:
path = getwd()
setwd(paste0(path, "/Temp"))
saveRDS(Nodes_Data, file = "Nodes_Data.rds")
saveRDS(Edges_Data, file = "Edges_Data.rds")